{%- style -%}
  /* .custom-video__content {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    pointer-events: none;
  }
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  } */
  .custom-video__content {
    overflow: hidden;
    width: 100%;
    /* Keep it the right aspect-ratio */
    aspect-ratio: 16 / 9;
    /* No clicking/hover effects */
    pointer-events: none;
  }
  .video-player {
    /* Extend it beyond the viewport... */
    width: 300%;
    height: 100%;
    /* ...and bring it back again */
    margin-left: -100%;
  }
{%- endstyle -%}



<div class="custom-video__content">

  {%- if section.settings.video_url.type == "youtube" -%}
    <iframe loading="lazy" class="video-player" , src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?autoplay=1&mute=1&loop=1&color=white&controls=0&modestbranding=1&playsinline=1&rel=0&enablejsapi=1&iv_load_policy=3&cc_load_policy=0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
  {%- else -%}
    <iframe loading="lazy" class="video-player" , src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}?background=1" frameborder="0"></iframe>
  {%- endif -%}
  {% for media in product.media %}
    {% if media.media_type == 'video' %}
      {{ media | video_tag }}
    {% endif %}
  {% endfor %}
</div>

{% schema %}
  {
    "name": "custom-video",
    "settings": [
      {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube", "vimeo"
        ],

// "default": "https://www.youtube.com/watch?v=k85mRPqvMbE",

        "default": "https://vimeo.com/773601002",
        "label": "Video url"
      }
    ],
    "presets": [
      {
        "name": "Custom video"
      }
    ]
  }
{% endschema %}