{%- style -%}
  .custom-video__content {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    height: 0;
  }
  .video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
{%- endstyle -%}

<div class="custom-video__content">

  {%- if section.settings.video_url.type == "youtube" -%}
    <iframe class="video-player" , src="https://www.youtube.com/embed/{{ section.settings.video_url.id }}?enablejsapi=1&controls=0&autoplay=1&loop=1&modestbranding" frameborder="0" controls="0"></iframe>
  {%- else -%}
    <iframe class="video-player" , src="https://player.vimeo.com/video/{{ section.settings.video_url.id }}" class="js-vimeo" allow="autoplay; encrypted-media" allowfullscreen title="{{ section.settings.description | escape }}"></iframe>
  {%- endif -%}

</div>

{% schema %}
  {
    "name": "custom-video",
    "settings": [
      {
        "type": "video_url",
        "id": "video_url",
        "accept": [
          "youtube", "vimeo"
        ],
        "default": "https://www.youtube.com/watch?v=k85mRPqvMbE&vl",
        "label": "Video url"
      }
    ],
    "presets": [
      {
        "name": "Custom video"
      }
    ]
  }
{% endschema %}